.nav a {
  color: #086D44;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
  text-transform: uppercase;
}

.nav .indent a:hover {
    background-color: #086D44;
    border-radius: 4px;
    text-decoration: none;
    color: #FFF;
}

.nav .indent li.active a {
    background-color: #086D44;
    border-radius: 4px;
    color: #FFF;
}

.nav li {
  display: inline;
}

.nav .logo img {
    height: 70px;
    width: auto;
    position: relative;
    top: -10px;
}

.nav .indent{
    position: relative;
    top: 40px
}

.jumbotron {
  background-color: #086D44;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.jumbotron .container {
  position: relative;
  top:80px;
}

.jumbotron h1 {
  color: #FFF;
  font-size: 52px;  
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #7CB833;
}

.lower-bar {
    position: relative;
    top: 20px;
    background-color: #EEE;
    height: 45px;
}

.lower-bar .container {
    position: relative;
    top: 15px
}

.lower-bar p {
    font-size: 12px;
}

