
.slider {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slider-title {
    margin-left: 60px;
    margin-bottom: auto;
    margin-top: auto;
    color: #2F863E;
}

.slide {
  background: transparent center center no-repeat;
  background-color: #363636;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 450px;
    max-width: 100%;
    text-align: center;
}

.active-slide {
    display: block;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #A3D12D;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #2F863E;
}

